@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;

}

/* <-------- Landing Page --------------> */

.landing-page::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(31, 27, 27, 0.66);
    z-index: -1;
}


.landing-page {
    display: grid;
    background-image: url("./img/landing-img/nf.jpg");
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    filter: contrast(1.2);
}

/* <------------------- Nav Bar ------------------>  */

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    filter: brightness(1.3);
    filter: contrast(1.2);
    background-color: rgba(0, 0, 0, 0.1);
}


/* <------- Nav Bar Components --->   */

/* <-- Logo -->*/

.nav-bar {

    display: flex;
    background-color: transparent;
    margin: 10px auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    filter: brightness(1.3);
    filter: contrast(1.2);
    background-color: transparent;
    max-width: 1292px;
    width: 95%;

}

/* <------- Nav Bar Components --->   */


.logo-img {
    background-color: transparent;
    align-content: center;
    cursor: pointer;
}

.logo1-img {
    background: transparent;
    height: 50px;
}

.logo2-img {
    background: transparent;
    height: 40px;
}


/*  */

.contact-us {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: transparent;
    height: fit-content;

}

.form-div {
    background-color: #000000ab;
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
    flex-direction: column;
    height: 70vh;
    padding: 30px 55px 40px;
    width: 370px;

}

#name,
#email,
#phone,
#message {
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    background-color: #343434;
    border: none;
    padding: 15px 0px;
}

.btn {
    background-color: rgb(130, 4, 4);
    border-radius: 5px;
}

#send-message {
    width: 100%;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 10px 0px;

}

#send-message:hover {
    background-color: rgba(251, 3, 3, 0.997);
    transition: all .4s ease;
}

label,
input,
button {
    background: transparent;
    color: gray;
}

/* -------------------media query---------------------- */

@media (max-width: 700px) {

    .logo2-img {
        display: none;
    }

    .form-div {
        width: 100%;
    }

}