@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: 'Poppins';
}

body{
    background: black;
}

header {
    /* position: fixed; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #121212;
    padding: 10px 12%;
    z-index: 1;
}


.logo-img a,
.quicklink-link {
    text-decoration: none;
}

.logo1-img {
    height: 35px;
}

.logo2-img {
    height: 30px;
}

.navbar {
    display: flex;
}

.navbar li {
    list-style: none;
    padding: 0px 10px;
}

.navbar a,
.free-trial a {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    transition: all .4s ease;
    text-transform: uppercase;

}

.navbar a:hover,
.free-trial a:hover {
    color: red;
    transition: all .4s ease;
}

.navbar a .active {
    color: red;
}


section{
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    /* max-width: 100%; */
}

.poster{
    /* max-width: 30%; */
    flex-basis: 30%;

    border: 1px solid rgb(9, 135, 185);
}

.description{
    border: 1px solid red;
    /* max-width: 30%; */
    flex-basis: 30%;

}

.inner-description{
    margin: 10px auto;
}
.checked{
    color: red;
}
.checked span{
    color: whitesmoke;
}

.video{
    border: 1px solid greenyellow;
    /* max-width: 40%; */
    flex-basis: 40%;

}